code{
    background-color: black;
    color: lightgreen;
    border: 3px solid black;
    margin: 3px;
}
span{
    background-color: blanchedalmond;
    color: black;
    /*border: 3px solid blanchedalmond;*/
}
body {
  background-image: url("tiledbg.png");
  background-repeat: repeat;
}